@CHARSET "UTF-8";

.inputItem{
    width: 250px;
}
.inputItemPrice{
    width: 25px;
    text-align: right;
}
.inputItemRadio{
    width: 30px;
    height: 30px;
    text-align: right;
}
.inputItemAttrCheck{
    width: 100px;
    height: 100px;
    text-align: center;
}